* {
    font-size: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.global-container {
    max-width: 1366px;
    margin: auto;
}

.Container {
    max-width: 1280px;
    margin: auto;
}

/* for samller devices  */
h1 {
    font-size: 2em;
    line-height: 1.25;
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364;
}

h5 {
    font-size: 1.125em;
    line-height: 1.11111111;
}

/* for more than 732 px devices */
@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }

    h2 {
        font-size: 2em;
        line-height: 1.25;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }

    h5 {
        line-height: 1.22222222;
    }
}

/* //more than 900px devices */
@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }

    h2 {
        font-size: 2.25em;
        line-height: 1.25;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1.25;
    }

    h4 {
        font-size: 1.5em;
        line-height: 1.25;
    }

    h5 {
        font-size: 1.25em;
        line-height: 1.25;
    }

    h6 {
        font-size: 1.125em;
        line-height: 1.25;
    }
}

.text-primary {
    color: #1771c4 !important;
}

.bg-primary {
    background: #1771c4 !important;
}

.primary-color {
    background: #1771c4 !important;
    color: #fff !important;
}

.secondary-color {
    background: #1771c4 !important;
    color: #fff !important;
}

.main-text {
    color: #1771c4 !important;
    font-size: 28px !important;
}

.br-0 {
    border-radius: 0px;
}

.br-4 {
    border-radius: 4px;
}

.br-5 {
    border-radius: 5px;
}

.br-50p {
    border-radius: 50%;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.logo-box {
    width: 200px;
    height: 90px;
    border-radius: 5px;
}

.logo-box h2 {
    margin-top: 24px;
}

/* //////////////////////////////////////////////////////////////// */
/* job seeker page */
.profile-pic {
    width: 200px;
    margin-bottom: 25px;
    position: relative;
}

.profile-pic .img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: none;

}

.profile-pic .img-text a {
    cursor: pointer;
    text-decoration: none;
    color: #e97e08;
    position: absolute;
    left: 45px;
    bottom: 7px;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}

.jobseeker-nav-pill {
    text-align: center;
    background-color: #fff;
    width: 200px;
    border: 0;
    margin: 10px 0;
    color: #000;
}

.jobseeker-nav-pill a {
    padding: 10px;
    outline: 1px solid #000;
    display: block;
    text-decoration: none;
    color: #000;
}

.jobseeker-nav-pill a:hover {
    cursor: pointer;
    outline: 1px solid #fff;
    background: #2196F3;
    color: #fff;
}

.jobseeker-nav-pill a.active {
    background-color: #1771c4;
    outline: 0;
    color: #fff;
}

.job-box {
    margin-bottom: 25px;
}

.job-applied-header {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.job-applied-title {
    padding: 10px;
    text-align: center;
    background-color: #C1C1C1;
    width: 250px;
}

.job-title h5 {
    color: #1771c4;
}

.company-title h6 {
    color: #676767;
}

.job-brief {
    color: #3C5162;

}

.job-brief p:last-child {
    margin: 0;
}

.deadline p {
    padding: 8px 5px;
    color: #e97e08;
    margin: 0;
}

.deadline i {
    margin-right: 10px;
    color: #1771c4;
    font-size: 18px;
}

.deadline span {
    margin-left: 6px;
    color: #1771c4;
}

.apply-btn {
    padding: 8px 5px;
    border-radius: 4px;
    text-align: center;
    background-color: #1771c4;
    color: #fff;
    width: 120px;
}

.apply-btn a {
    text-decoration: none;
    color: #fff;
}

.card-text {
    padding: 0 0 10px;
}

.panel-body {
    margin: 5px;
}

/* media queires for smaller devices */
@media (max-width: 767px) {
    .profile-pic {
        margin: auto;
    }

    .jobseeker-nav-pill {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .job-applied-header {
        margin-top: 50px;
    }

}

/* //////////////////////////////////////////////////////////////// */
/*job seeker top-nav*/
.top-flex {
    width: 100%;
    padding: 5px;
    background-color: #C1C1C1;
    color: black;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.info-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-container p {
    padding: 0;
    margin: 0 0 10px;
}


.xl-thumb {
    padding: 10px;
    text-align: center;
    background-color: #1771c4;
    color: white;
    width: 250px;
    height: 40px;
    margin: 0 10px 10px 10px;
}

.sm-thumb {
    padding: 10px;
    background-color: #1771c4;
    width: 200px;
    height: 40px;
    margin: 10px 0 10px;
    justify-content: center;
}

.xs-thumb {
    padding: 2px;
    text-align: center;
    background-color: #1771c4;
    width: 100px;
    height: 30px;
}



.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 37px 27px;
    background-color: #fff;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}

.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 37px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 86px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

/* jobseeker edit profile */

.top-bar {
    margin: 20px 0px;
    padding: 10px 0px;
}

.jobseeker-name .mobile-menu i {
    font-size: 29px;
    margin-top: 20px;
    color: #1771c4;
}



.jobseeker-name .menu-dropdown {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    font-size: 18px;
}

.jobseeker-name .menu-dropdown::before {
    position: absolute;
    content: '';
    /* background-color: #1771c4; */
    border: 10px solid;
    border-color: #1771c4 transparent transparent transparent;
    /* border-radius: 50%; */
    right: -28px;
    margin-top: 7px;
}

.jobseeker-name .guest-highlight {
    display: inline-block;
    position: relative;
    margin-top: 28px;
    font-size: 18px;
}

.jobseeker-name .guest-highlight::before {
    position: absolute;
    content: '';
    /* background-color: #1771c4; */
    border: 10px solid;
    border-color: #1795f9e6;
    border-radius: 50%;
    right: -28px;
    margin-top: 2px;
}


.jobseeker-name ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 59px;
    right: -26px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.jobseeker-name li {
    border-bottom: 1px solid #e5e5e5;
}

.jobseeker-name li:last-child {
    border-bottom: none;
}

.jobseeker-name li a {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.jobseeker-name li a:hover {
    color: #fff;
    background-color: #2196F3;
}


.jobseeker-name .button:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    right: 6px;
    top: 18px;
}

.edit-profile-form-wrap {
    padding-left: 10px;
}

.company-content-wrapper select {
    height: 40px;
}

.edit-profile-form-wrap select {
    height: 40px;
}

.edit-profile-form-wrap input[type="file"] {
    padding-top: 11px;
    height: 40px;
}

.edit-profile-form-wrap .radio-wrapper {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.edit-profile-form-wrap .radio-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.edit-profile-form-wrap .radio-wrapper .checkmark {
    position: absolute;
    top: 0;
    left: -27px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.edit-profile-form-wrap .radio-wrapper:hover input~.checkmark {
    background-color: #ccc;
}


.edit-profile-form-wrap .radio-wrapper input:checked~.checkmark {
    background-color: #2196F3;
}

.edit-profile-form-wrap .radio-wrapper .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.edit-profile-form-wrap .radio-wrapper input:checked~.checkmark:after {
    display: block;
}

.edit-profile-form-wrap .radio-wrapper .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.edit-profile-form-wrap .apply-btn {
    border: 0;
    border-radius: 4px;
    padding: 10px;
}

.edit-profile-form-wrap .btn-file-upload {
    width: 100%;
    position: relative;
}

.edit-profile-form-wrap .btn-file-upload:after {
    content: attr(value);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    color: 000;
    border-radius: 2px;
    text-align: left;
    font-size: 18px;
    line-height: 2.5;
    padding-left: 18px;
}

.edit-profile-form-wrap .form-control {
    box-shadow: none;
}

.content-wrapper {
    margin-top: 40px;
}

.form-control {
    box-shadow: none !important;
}

.job-box .card h5 {
    margin-left: 15px;
}

.job-box .card .description {
    width: 100%;
    height: 381px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.top-bar {
    margin: 20px 0px;
    padding: 10px 0px;
}

.jobseeker-name>p {
    position: relative;
    margin-top: 28px;
    font-size: 18px;
}

.jobseeker-name>p::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #1771c4;
    border-radius: 50%;
    left: -28px;
    margin-top: 2px;
}

.company-cover {
    position: relative;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.company-logo-wrap {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -30px;
    left: 43px;
    z-index: 20;
}

.company-logo-wrap img {
    max-width: 200px;
    border: 1px solid #1771c4;
}

.company-content-wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
}

.post-job-btn {
    padding: 10px 15px;
    width: 150px;
    text-align: center;
    border: 0;
}

.company-content-wrapper textarea {
    resize: none;
}

.employer-box {
    margin-bottom: 20px;
}

.employer-job-posted-box {
    margin-bottom: 20px;
}

.employer-job-posted-box .applybtn>a {
    color: #1771c4;
}

.employer-job-posted-box .applybtn>a i {
    margin-right: 3px;
}

.employer-landing-box .job-box-footer>a i {
    margin-right: 3px;
}

.employer-landing-box a {
    text-decoration: none;
}

.employer-landing-box .job-box-footer a i {
    color: #1771c4 !important;
}

.employer-landing-box .job-box-footer a {
    color: #676767 !important;
}

.hot-jobs-header h3 {
    color: #d20e0e;
    padding: 3px 10px;
    border-bottom: 1px solid #0083d5;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hot-jobs-header h3:hover {
    color: #0083d5;
    padding: 3px 10px;
    border-bottom: 1px solid #d20e0e;
}


.hot-jobs-header .icon-fire:before {
    content: "\f06d";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}

.hot-jobs-container .job-box {
    padding: 20px 20px 10px ;
    box-shadow: 4px 4px 9px #c1c1c1;
}

.hot-jobs-container .job-box .job-logo {
    height: 100px;
    width: 100px;
}

.hot-jobs-container .job-box .job-logo img {
    height: 90px;
    width: 90px;
}

.hot-jobs-container .job-info {
    margin-left: 20px;
    margin-top: 4px;
}

.hot-jobs-container .job-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.hot-jobs-container .job-info ul li a.job-title {
    font-size: 18px;
    color: #0082d2;
    text-decoration: none;
}


.bg-default-img {
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-search:before {
    content: "\f002";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}


.desktop-menu-wrapper {
    margin-top: 20px;
}

.desktop-menu-wrapper .default-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.desktop-menu-wrapper .default-menu ul li {
    display: inline;

}

.desktop-menu-wrapper .default-menu ul li:not(:last-child) {
    border-right: 1px solid #d20e0e;
}

.desktop-menu-wrapper .default-menu ul li a {
    padding: 4px 17px;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    color: rgb(23, 113, 196);
}

.desktop-menu-wrapper .default-menu ul li:last-child a.logout {
    color: #0082d2;
}

.desktop-menu-wrapper .default-menu ul li a:hover {
    color: #d20e0e;
    /* border-bottom: 1px solid #26c6da; */
    /* font-size: 22px; */
    text-decoration: none;
}

.desktop-menu-wrapper .default-menu ul li a.active {
    color: #d20e0e;
    font-style: italic;
}


.entity-panel .menu-dropdown {
    display: inline-block;
    position: relative;
    margin-top: 4px;
    font-size: 18px;
}

.entity-panel .menu-dropdown::before {
    position: absolute;
    content: '';
    /* background-color: #1771c4; */
    border: 10px solid;
    border-color: #1771c4 transparent transparent transparent;
    /* border-radius: 50%; */
    right: -28px;
    margin-top: 7px;
}

.entity-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: -22px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.entity-panel li {
    border-bottom: 1px solid #e5e5e5;
}

.entity-panel li:last-child {
    border-bottom: none;
}

.entity-panel li a {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.entity-panel li a:hover {
    color: #fff;
    background-color: #2196F3;
}


/* seacch page */



.search-page .filter-box {
    padding: 12px 18px;
     border:1px solid #00000020;
}

   .search-page .card-title {
       font-weight: 500;
   }

.search-page .icon-search {
      font-family: icomoon !important;
      font-display: swap;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
}

.search-page .icon-reset {
    font-family: icomoon !important;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-reset:before {
      content: "\f0e2";
      font-family: 'Font Awesome\ 5 Free';
      font-weight: 900;

}

.icon-cash:before{
       content: "\f156";
       font-family: 'Font Awesome\ 5 Free';
       font-weight: 900;
}

.icon-address:before{
     content: "\f3c5";
     font-family: 'Font Awesome\ 5 Free';
     font-weight: 900;
}

.search-page .search-results .reset-filter a {
    text-decoration: none;
}

.search-page .job-box {
    padding: 20px 20px 5px 20px;
    box-shadow: 4px 4px 9px #c1c1c1;
    margin-bottom: 38px;
}

.search-page .job-box .job-logo {
    height: 150px;
    width: 150px;
}

.search-page .job-box .job-logo img {
    height: 150px;
    width: 150px;
    border: 1px solid #dee2e6 !important;
}

.search-page .job-info {
    margin-top: 14px;
}

.search-page .job-info a{
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search-page .job-info a:hover {
 color: #ff0000;
}

.search-page .job-box-body{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 20px;
}

.job-box-footer .deadline-title{
    color: #000000;
    font-size: 90%;
}

.search-page .job-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 20px;
}


.search-page .job-info ul li a.job-title {
    font-size: 20px;
    color: #0082d2;
    text-decoration: none;
}


/* job page css */
.job-page-wrapper h5 {
    color: #1771c4;
    border-bottom: 2px solid #c1c1c1;
    padding: 16px 0px;
    margin-bottom: 29px;
    font-weight: 700;
}

.job-page-wrapper span {
   color: #212529;
}


.employer-detail-box {
    margin-top: 50px;
    box-shadow: 4px 4px 9px #c1c1c1;
    padding: 40px 0px 40px 40px
}

.employer-detail-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.employer-detail-box ul li {
    font-size: 18px;
    margin-bottom: 20px;
}

.employer-detail-box ul li {
    color: #ff0000;
}

.employer-detail-box ul li span {
    margin-left: 4px;
}

.job-info-container {
    margin-top: 50px;
    box-shadow: 4px 4px 9px #c1c1c1;
    padding: 40px;
}


.job-info-container ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.job-info-container ul li {
    font-size: 18px;
    margin-bottom: 20px;
    color: #212529;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 7px;
    font-weight: 500;
}

.job-info-container ul li span {
    margin-left: 5px;
}

.job-description-container {
    margin-top: 50px;
    box-shadow: 4px 4px 9px #c1c1c1;
    padding: 40px;
}

.job-apply-btn {
    margin-top: 50px;
}

/* /////////////////////////////// login and register styles */
.register-container .logo-box {
    width: 200px;
    height: 100px;
}

.register-container .content-wrapper {
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

.register-container .login-as {
    height: 50px;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
}

.register-container .submit {
    width: 200px;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgb(73, 72, 72)
}

.register-container .seeker {
    margin-left: 5%;
    margin-right: 2rem;
    width: 100%;
}

.register-container .employer {
    margin-right: 4.93%;
    width: 100%;
    color: #000;
    outline: 1px solid #000;
}

.register-container .login-form {
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

.register-container .login-form .form-control {
    box-shadow: none;
}

/* /////////////////////////////// login styles */
.login-container .logo-box {
    width: 200px;
    height: 100px;
}

.login-container .content-wrapper {
    width: 800px;
    border-radius: 15px;
    margin: auto;
}

.login-container .login-as.active {
    background-color: #1771c4 !important;
    color: #fff;
    outline: none !important;
}

.login-container .login-as {
    height: 50px;
    font-weight: normal;
    padding: 10px;
    border-radius: 4px;
    color: #000;
    outline: 1px solid #000;
}

.login-container .login-as:hover {
    cursor: pointer;
}

.login-container .login-as.active a,
.login-container .login-as.active a:hover {
    color: #fff;
    text-decoration: none;
}

.login-container .submit {
    width: 200px;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgb(73, 72, 72)
}

.login-container .seeker {
    margin-left: 5%;
    margin-right: 2rem;
    width: 100%;
}

.login-container .employer {
    margin-right: 4.93%;
    width: 100%;
}



.login-container .login-form {
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

.login-container .login-form .form-control {
    box-shadow: none;
}


.view-singlejob input {
    border: none;
}

.view-singlejob .col-form-label {
    color: #1771c4;
}

/* for devices smaller than 767px */

@media screen and (max-width:767px) {
    .login-form {
        width: 100%;
    }

    .login-container .content-wrapper,
    .register-container .content-wrapper {
        width: 100%;
        border: none !important;
    }

    .login-container .content-box,
    .register-container .content-box {
        flex-direction: column;

    }

    .login-container .seeker,
    .login-container .employer,
    .register-container .seeker .register-container .employer {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        border: none !important;
    }

    .company-logo-wrap {
        width: 100%;
        text-align: center;
        left: initial;
    }

    .company-logo-wrap img {
        width: 200px;
    }

    .company-content-wrapper {
        padding: 0px 10px;
    }

    .company-cover {
        background-position: 87% 50%;
    }

    .jobseeker-name ul {
        right: -3px;

    }
     
}